#sidebar-wrapper {
    top: 25%;
    left: -200px;
    position: fixed;
    height: 50%;
    z-index: 1;
  }
  .sidebar-nav {
    position: absolute;
    top: 0;
    margin: 0;
    padding: 0;
    width: 250px;
    list-style: none;
  }
  .sidebar-nav li {
    text-indent: 20px;
    line-height: 50px;
  }
  .sidebar-nav li a {
    color: white;
    display: block;
    text-decoration: none;
  }
  .sidebar-nav li a:hover {
    background: rgba(255,255,255,0.25);
    color: white;
    text-decoration: none;
  }
  .sidebar-nav li a:active, .sidebar-nav li a:focus {
    text-decoration: none;
  }
  #sidebar-wrapper.sidebar-toggle {
    transition: all 0.3s ease-out;
    margin-left: -200px;
  }
  @media (min-width: 768px) {
    #sidebar-wrapper.sidebar-toggle {
      transition: 0s;
      left: 200px;
    }
  }

  

 
  /* ------------------------------------ */

  @import url('https://fonts.googleapis.com/css?family=Gothic+A1|Kaushan+Script|Libre+Baskerville|Lobster');

  .body{
	/* font-family: 'Gothic A1', sans-serif; */
    font-size:16px;
	}
	p{
	color:#6c6c6f;
	font-size:1em;
	}
	h1,h2,h3,h4,h5,h6{color:#323233;text-transform:uppercase;}
.navbar-brand  span{
	color: #FF9900;
	font-size:25px;font-weight:700;letter-spacing:0.1em;
    /* font-family: 'Kaushan Script','Helvetica Neue',Helvetica,Arial,cursive; */
}
.navbar-brand {
	color: #fff;
	font-size:25px;
    /* font-family: 'Kaushan Script','Helvetica Neue',Helvetica,Arial,cursive; */
	font-weight:700;
	letter-spacing:0.1em;
}

.navbar-nav .nav-item .nav-link{
	padding: 1.1em 1em!important;
	font-size: 90%;
    font-weight: 500;
    letter-spacing: 1px;
    color: #fff;
   /* font-family: 'Gothic A1', sans-serif; */
}
.navbar-nav .nav-item .nav-link:hover{color:#fed136;}
.navbar-expand-md .navbar-nav .dropdown-menu{
	border-top:3px solid #fed136;
}
.dropdown-item:hover{background-color:#fed136;color:#fff;}
nav{-webkit-transition: padding-top .3s,padding-bottom .3s;
    -moz-transition: padding-top .3s,padding-bottom .3s;
    transition: padding-top .3s,padding-bottom .3s;
    border: none;
	}
	
 .shrink {
    padding-top: 0;
    padding-bottom: 0;
    background-color: #212529;
}
.banner{
	background-image:url('/img/background2.png');
	text-align: center;
    color: #fff;
   
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    height: 300px;
}
.banner-text{
	padding:0px 0 10px 0;
}
.banner-heading{
	font-family: 'Lobster', cursive;
	font-size: 75px;
    font-weight: 700;
    line-height: 50px;
    margin-bottom: 30px;
	color:#fff;
}
.banner-sub-heading{
	font-family: 'Libre Baskerville', serif;
	font-size: 30px;
    font-weight: 300;
    line-height: 30px;
    margin-bottom: 50px;
	color:#fff;
}

.btn-banner{
	padding:5px 20px;
	border-radius:10px;
	font-weight:700;
	line-height:1.5;
	text-align:center;
	color:#fff;
	text-transform:uppercase;
}
.text-intro{
	width:90%;
	margin:auto;
	text-align:center;
	padding-top:30px;
}


/* mobile view */
@media (max-width:500px)
{
	.navbar-nav{
		background-color:#000;
		border-top:3px solid #fed136;
		color:#fff;
		z-index:1;
		margin-top:5px;
		}
	.navbar-nav .nav-item .nav-link{
	padding: 0.7em 1em!important;
	font-size: 100%;
    font-weight: 500;
    }
	.banner-text{
	padding:150px 0 150px 0;
}
.banner-heading{
	font-size: 30px;
    line-height: 30px;
    margin-bottom: 20px;
}
.banner-sub-heading{
	font-size: 10px;
    font-weight: 200;
    line-height: 10px;
    margin-bottom: 40px;
}

}

@media (max-width:768px){
	.banner-text{
	padding:150px 0 150px 0;
}
	.banner-sub-heading{
	font-size: 23px;
    font-weight: 200;
    line-height: 23px;
    margin-bottom: 40px;
}
}


/* ---------------------------input---------------------------- */

.table-wrapper {
  width: 700px;
  margin: 30px auto;
      background: #fff;
      padding: 20px;	
      box-shadow: 0 1px 1px rgba(0,0,0,.05);
  }
  .table-title {
      padding-bottom: 10px;
      margin: 0 0 10px;
  }
  .table-title h2 {
      margin: 6px 0 0;
      font-size: 22px;
  }
  .table-title .add-new {
      float: right;
  height: 30px;
  font-weight: bold;
  font-size: 12px;
  text-shadow: none;
  min-width: 100px;
  border-radius: 50px;
  line-height: 13px;
  }
.table-title .add-new i {
  margin-right: 4px;
}
  table.table {
      table-layout: fixed;
  }
  table.table tr th, table.table tr td {
      border-color: #e9e9e9;
  }
  table.table th i {
      font-size: 13px;
      margin: 0 5px;
      cursor: pointer;
  }
  table.table th:last-child {
      width: 100px;
  }
  table.table td a {
  cursor: pointer;
      display: inline-block;
      margin: 0 5px;
  min-width: 24px;
  }    
table.table td a.add {
      color: #27C46B;
  }
  table.table td a.edit {
      color: #FFC107;
  }
  table.table td a.delete {
      color: #E34724;
  }
  table.table td i {
      font-size: 19px;
  }
table.table td a.add i {
      font-size: 24px;
    margin-right: -1px;
      position: relative;
      top: 3px;
  }    
  table.table .form-control {
      height: 32px;
      line-height: 32px;
      box-shadow: none;
      border-radius: 2px;
  }
table.table .form-control.error {
  border-color: #f50000;
}
table.table td .add {
  display: none;
}


